<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="example2" class="com.shy.spring.beans.Example2">
	</bean>


	<bean id="replacer" class="com.shy.spring.factoryconfig.MyMethodReplacer"/>

	<bean id="myBeanFactoryPostProcessor" class="com.shy.spring.factoryconfig.MyBeanFactoryPostProcessor"/>



</beans>